Course2TextEditor/TextEditor/.classpath
Course2TextEditor/TextEditor/.project
Course2TextEditor/TextEditor/.settings/
/Course2TextEditor/TextEditor/nbproject/private/
/Course2TextEditor/TextEditor/build/